@import "../../styles/config";

.product__item {
    margin-bottom: 30px;
    /* max-width:300px; */
}

.product__item__pic {
    height: 325px;
    position: relative;
    border-radius: 5px;
    & .ep {
        font-size: 13px;
        color: #ffffff;
        background: $color-pr-1;
        display: inline-block;
        padding: 2px 12px;
        border-radius: 4px;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    & .comment {
        font-size: 13px;
        color: #ffffff;
        background: #3d3d3d;
        display: inline-block;
        padding: 2px 10px;
        border-radius: 4px;
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    & .view {
        font-size: 13px;
        color: #ffffff;
        background: #3d3d3d;
        display: inline-block;
        padding: 2px 10px;
        border-radius: 4px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.product__item__text {
    padding-top: 20px;
    & ul {
        margin-bottom: 10px;
        & li {
            list-style: none;
            font-size: 10px;
            color: #ffffff;
            font-weight: 700;
            padding: 1px 10px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50px;
            display: inline-block;
        }
    }
    & h5 {
        & a {
            color: #ffffff;
            font-weight: 700;
            line-height: 26px;
            text-decoration: none;
            background-color: transparent;
        }
    }
}

