@import '../../../styles/config';
.box {
    background-color: $color-se-1;
    border-radius: 4px;
}

.status{
    margin-bottom:20px;
}

.status-menu {
    padding: 20px;
    display: flex;
    align-items: center;

    &-item {
        text-decoration: none;
        color: #ccc8db;
        padding: 10px 14px;
        line-height: 0.7;

        font-weight: 500;
        border-radius: 20px;

        &.active,
        &:hover {
            background-color: #2e2e40;
            color: #fff;
        }
    }

    &-item+&-item {
        margin-left: 10px;
    }

    @media screen and (max-width: 500px) {
        font-size: 14px;

        &-item+&-item {
            margin-left: 0;
        }
    }
}

.status-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.status-main {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-text-bold;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.status-textarea {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    resize: none;
    margin-top: 15px;
    color: #fff;
    max-width: calc(100% - 70px);

    &::placeholder {
        color: #5c5d71;
    }
}

.status-actions {
    display: flex;
    padding: 10px 20px;
}

.status-action {
    text-decoration: none;
    color: #ccc8db;
    margin-right: 20px;
    display: flex;
    align-items: center;

    svg {
        width: 16px;
        flex-shrink: 0;
        margin-right: 8px;
    }

    @media screen and (max-width: 1320px) {
        width: 16px;
        overflow: hidden;
        color: transparent;
        white-space: nowrap;
    }
}

.status-share {
    background-color: $color-pr-3;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: auto;
    box-shadow: 0 0 10px $color-pr-4;
    transition: transform 80ms ease-in;
    
    &:active {
        transform: scale(0.95);
    }
    cursor: pointer;
}