/* .section-title {

    margin-bottom: 30px;
}

.section-title h4, .section-title h5 {
    margin:0;
    color: #ffffff;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
}
.section-title h4:after, .section-title h5:after {
    position: absolute;
    left: 0;
    top: -6px;
    height: 32px;
    width: 4px;
    background: #e53637;
    content: "";
}

.primary-btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top:-10px;
}
.btn__all {
    text-align: right;
}

a.primary-btn  {
    text-decoration: none;
}
.arrow_right{
    font-size: 18px;
    margin-left: 5px;
    position: relative;
    top: 3px;

} */