.blog-post {
    margin-bottom: 70px;
}

.blog-post img {
    border-radius:5px;
    height: 230px; object-fit: cover;
    margin-bottom: 34px;
    min-width: 100%;
}

.blog-post .read-more {
    font-size: 14px;
    font-weight: 700;
    color: #e53637;
    text-decoration: none;
    outline: none;
}
.blog-post p{
    color:#fff;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
.blog-post .post-date {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 3px 16px;
    margin-bottom: 25px;
    border-radius:5px;
    color: #fff;
    background: #e53637;
}
.blog-post h4 {
    color: #fff;
    margin-bottom: 10px;
}

.blog-post .post-metas {
    margin-bottom: 30px;
}

.blog-post .post-metas .post-meta {
    position: relative;
    display: inline-block;
    color: #8c8c8c;
    font-size: 14px;
    padding-right: 15px;
    margin-right: 14px;
    margin-bottom: 5px;
}
.blog-post .post-metas .post-meta:last-child {
    margin-right: 0;
    padding-right: 0;
}
.blog-post .post-metas .post-meta:last-child::after {
    display: none;
}
.blog-post .post-metas .post-meta:after {
    position: absolute;
    content: "|";
    right: 0;
    top: 0;
    color: #8c8c8c;
    font-size: 14px;
}

