@import '../../styles/config';

.container {
    
    display:flex;
    background: url(../../assets/images/404.jpg) center/cover no-repeat;
    height: 100vh;
    margin: 0;
    & a{
        margin-top:72vh;

        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.btnGoHome {




    transform: translate(-1px, -1px);
}
