.title{
	margin:20px 0 0 0;
}
.subtitle{
	margin: 8px 0 16px 0;
	font-size: 12px;
}

.form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}