.carousel-container {
    max-width: 1170px;
    
}

.owl-carousel .owl-nav .button {
    font-size: 36px;
    height: 66px;
    width: 66px;
    background: #0b0c2a;
    line-height: 66px;
    text-align: center;
    color: #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    z-index: 1;
    position: absolute;
    left: -33px;
    top: 50%;
    margin-top: -47px;
}