
@import '../../styles/config';


$bg-color: #151728;
$border-color: #272a3a;
$title-font: "DM Sans", sans-serif;
$body-font: "Source Sans Pro", sans-serif;
// $color-text-md: #5c5e6e;
$color-text-super-light: #8f98a9;



.main-container {
    // padding: 20px;
    flex-grow: 1;
    overflow: auto;
    // background-color: $color-bg-dark;
}

.profile {
    position: relative;
    height: 40vh;
    min-height: 250px;
    max-height: 350px;
    z-index: 1;

    &-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        // background-image: url("https://images.unsplash.com/photo-1508247967583-7d982ea01526?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(50px);
        opacity: 0.7;
    }
}

.profile-menu {
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    padding-left: 200px;
    background: $color-se-1;
    width: auto;
    display: flex;
    border-radius: 0 0 4px 4px;
}

.profile-menu-link {
    padding: 20px 16px;
    color: $color-text-md;
    transition: 0.3s;
    cursor: pointer;

    &.active,
    &:hover {
        color: #fff;
        background-color: $color-se-2;
        border-bottom: 3px solid #1488fa;
    }
}

.profile-avatar {
    position: absolute;
    align-items: center;
    display: flex;
    z-index: 1;
    bottom: 16px;
    left: 24px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid $color-pr-5;
}

.profile-name {
    margin-left: 24px;
    margin-bottom: 24px;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    // font-family: $title-font;
}

.timeline {
    display: flex;
    padding-top: 20px;
    position: relative;
    z-index: 2;

    &-left {
        width: 310px;
        flex-shrink: 0;
    }

    &-right {
        flex-grow: 1;
        padding-left: 20px;
    }

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;

        &-right {
            padding-left: 0;
            margin-bottom: 20px;
        }

        &-left {
            width: 100%;
        }
    }
}

.box {
    background-color: $color-se-1;
    border-radius: 4px;
}

.intro {
    padding: 20px;

    &-title {

        color: $color-text-md;
        font-weight: 600;
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &-menu {
        background-color: $color-text-super-light;
        box-shadow: -8px 0 0 0 $color-text-super-light, 8px 0 0 0 $color-text-super-light;
        width: 5px;
        height: 5px;
        border: 0;
        padding: 0;
        border-radius: 50%;
        margin-left: auto;
        margin-right: 8px;
    }
}

.info {
    font-size: 15px;

    &-item {
        display: flex;
        color: #c3c5d5;
    }

    &-item+&-item {
        margin-top: 14px;
    }

    &-item a {
        margin-left: 6px;
        color: #1771d6;
        text-decoration: none;
    }

    &-item svg {
        width: 16px;
        margin-right: 10px;
    }
}

.event {
    position: relative;
    margin-top: 20px;
    padding: 10px;
}

.event-wrapper {
    position: relative;
}

.event-img {
    max-width: 100%;
    display: block;
    padding-bottom: 12px;
}

.event-date {
    position: absolute;
    left: 20px;
    top: 15px;
}

.event-month {
    background-color: #1687fa;
    padding: 7px 20px;
    font-weight: 600;

    color: #fff;
    text-align: center;
    border-radius: 4px 4px 0 0;
}

.event-day {
    width: 100%;
    backdrop-filter: blur(4px);
    color: #fff;
    font-size: 22px;
    font-weight: 600;

    background-color: rgba(0, 0, 0, 0.4);
    padding: 6px 0;
    text-align: center;
}

.event-title {
    color: #c3c5d5;
    margin-bottom: 5px;

    font-weight: 600;
    padding: 0 14px;
}

.event-subtitle {
    color: $color-text-md;
  
    font-size: 13px;
    font-weight: 500;
    padding: 0 14px;
}

.pages {
    margin-top: 20px;
    padding: 20px;
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user+.user {
    margin-top: 18px;
}

.user-img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    object-fit: cover;
    object-position: center;
}

.username {
    font-size: 15px;

}

.status-menu {
    padding: 20px;
    display: flex;
    align-items: center;

    &-item {
        text-decoration: none;
        color: #ccc8db;
        padding: 10px 14px;
        line-height: 0.7;
  
        font-weight: 500;
        border-radius: 20px;

        &.active,
        &:hover {
            background-color: #2e2e40;
            color: #fff;
        }
    }

    &-item+&-item {
        margin-left: 10px;
    }

    @media screen and (max-width: 500px) {
        font-size: 14px;

        &-item+&-item {
            margin-left: 0;
        }
    }
}

.status-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.status-main {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-text-bold;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.status-textarea {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    resize: none;
    margin-top: 15px;
    color: #fff;
    max-width: calc(100% - 70px);

    &::placeholder {
        color: #5c5d71;
    }
}

.status-actions {
    display: flex;
    padding: 10px 20px;
}

.status-action {
    text-decoration: none;
    color: #ccc8db;
    margin-right: 20px;
    display: flex;
    align-items: center;

    svg {
        width: 16px;
        flex-shrink: 0;
        margin-right: 8px;
    }

    @media screen and (max-width: 1320px) {
        width: 16px;
        overflow: hidden;
        color: transparent;
        white-space: nowrap;
    }
}

.status-share {
    background-color: $color-pr-3;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: auto;
    box-shadow: 0 0 10px $color-pr-4;
    cursor: pointer;
}

.album {
    padding-top: 20px;
    margin-top: 20px;

    .status-main {
        border: none;
        display: flex;
    }

    .intro-menu {
        margin-bottom: auto;
        margin-top: 5px;
    }
}

.album-detail {
    width: calc(100% - 110px);
}

.album-title span {
    color: #1771d6;
    cursor: pointer;
}

.album-date {
    font-size: 15px;
    color: #595c6c;
    margin-top: 4px;
}

.album-content {
    padding: 0 20px 20px;
}

.album-photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    margin-top: 10px;
}

.album-photos {
    display: flex;
    margin-top: 20px;
    max-height: 30vh;
}

.album-photos>.album-photo {
    width: 50%;
}

.album-right {
    width: 50%;
    margin-left: 10px;
    line-height: 0;
    display: flex;
    flex-direction: column;

    .album-photo {
        height: calc(50% - 10px);
    }
}

.album-actions {
    padding: 0 20px 20px;
}

.album-action {
    margin-right: 20px;
    text-decoration: none;
    color: #a2a4b4;
    display: inline-flex;
    align-items: center;
    font-weight: 600;

    &:hover {
        color: #fff;
    }

    svg {
        width: 16px;
        margin-right: 6px;
    }
}








@media screen and (max-width: 700px) {
    .profile-avatar {
        top: -25px;
        left: 50%;
        transform: translatex(-50%);
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .profile-img {
        height: 100px;
        width: 100px;
    }

    .profile-name {
        margin: 5px 0;
    }

    .profile-menu {
        padding-left: 0;
        width: 100%;
        overflow: auto;
        justify-content: center;
    }

    .profile-menu-link {
        padding: 16px;
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {

    .profile-menu-link:nth-last-child(1),
    .profile-menu-link:nth-last-child(2) {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.01);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1);
}