
.spad {
    padding-top: 106px;
    padding-bottom: 106px;
}


.news-section{
        padding-right: 20px;
}

.movie-section{
        padding-right: 20px;
}


@media only screen and (max-width:1200px) {
    .carousel-section{
        padding-left: 50px;
        padding-right: 50px;
    }

    .news-section{
        padding-left: 50px;
        padding-right: 20px;
    }
    .movie-section{
        padding-left: 50px;
        padding-right: 20px;
    }
    
}
@media only screen and (max-width:900px) {
    .news-section{
        padding-left: 50px;
        padding-right: 50px;
    }
    .movie-section{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media only screen and (max-width:600px) {
    .carousel-section{
        padding-left: 10px;
        padding-right: 10px;
    }

    .news-section{
        padding-left: 10px;
        padding-right: 10px;
    }
    .movie-section{
        padding-left: 10px;
        padding-right: 10px;
    }
    
}