@import '../../styles/config';


.item {
    text-decoration: none !important;
    color: $color-bg-light;
    opacity: 0.8;
    transition: all 0.3s;
    margin: 0 2px;
    &:hover,
    &.active {
        color: $color-white;
        opacity: 1;
    }
    .label {
        font-size: $fs-sm;
        font-weight: 600;
        margin-left: 2px;
    }
}