@import '../../../styles/config';

.box {
    background-color: $color-se-1;
    border-radius: 4px;
}

.intro {
    padding: 20px;
    margin-bottom: 20px;

    &-title {

        color: $color-text-md;
        font-weight: 600;
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    
}


.info {
    font-size: 15px;

    &-item {
        display: flex;
        color: #c3c5d5;
    }

    &-item+&-item {
        margin-top: 14px;
    }

    &-item a {
        margin-left: 6px;
        color: $color-pr-3 ;
        text-decoration: none;
    }

    &-item i {
        width: 16px;
        margin-right: 10px;
    }
}